doctype html
html
  head
    title= Hoot
    |<link rel='stylesheet' href='/stylesheets/style.css' />
    //|<link href='//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>

    //script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='javascripts/socket.io.js')

  body
    block content