@import "material-shadows";

///// VARS /////
$main-blue:             #3F51B5;
$second-pink:           #E91E63;
$second-pink-accent:    #F50057;
$plain-white:           #FFFFFF;
$placeholder-white:     #DDDDDD;
$border-grey:           #333333;

///// GLOBAL /////
* {
  margin: 0;
  padding: 0;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

.image-background {
  position: fixed;
  z-index: -999;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/background_flou.jpg');
}

#room-content-container {
  width: 1024px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20%;
}


///// HOME /////
#form-container {
  position: relative;
  top: 20%;
}

#form-container form {
  display: block;
  background-color: $plain-white;
  width: 480px;
  height: 300px;

  margin: 0 auto;

  @include z-depth(1);
}

#form-container form h1 {
  position: relative;
  font-weight: 100;
  font-size: 32px;
  color: $plain-white;

  top: 90px;
  left: 20px;
}

#form-container form section:first-of-type {
  position: relative;
  background-color: $main-blue;
  width: 480px;
  height: 150px;

  @include z-depth(1);
}

#form-container form label {
  display: block;
  position: relative;
  left: 20px;
  top: -15px;
}

#form-container form input[type="text"] {
  position: relative;
  width: 440px;
  height: 40px;

  left: 20px;
  top: 5px;

  font-size: 16px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  border: 0;
  border-bottom: 1px solid $border-grey;
}

#form-container form input[type="text"]:focus {
  outline: 0;
  border-bottom: 2px solid $main-blue;
}

#fab-home-login {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 48px;
  background-color: $second-pink;

  top: -28px;
  left: 404px;

  @include z-depth(1);
  @include z-depth-animation(2);
}

#fab-home-login:hover {
  background-color: $second-pink-accent;
}

#fab-home-login svg {
  margin: 4px 0 0 4px;
}


///// ROOM /////
#room-content-container section {
  float: left;
  width: 50%;
}

#room-content-container section h1 {
  position: relative;
  width: 300px;
  height: 50px;

  padding: 0 10px;

  font-size: 24px;
  font-weight: 100;
  line-height: 50px;
  color: $plain-white;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  background-color: $main-blue;

  z-index: 1;
  @include z-depth(1);
}

#room-content-container section video {
  width: 320px;
  height: 240px;

  background-color: $plain-white;

  @include z-depth(1);
}

#room-content-container section:nth-child(2) h1 {
  float: right;
}

#room-content-container section:nth-child(2) video {
  float: right;
}

#room-content-container section:nth-child(1) input[type="text"] {
  width: 275px;
  height: 40px;

  position: relative;
  top: 9px;
  padding: 0 10px 0 35px;

  color: $plain-white;
  background-image:url('../images/icon_message.png');
  background-repeat: no-repeat;
  background-position: 10px 13px;
  background-color: $second-pink;

  opacity: 0.5;

  border: none;

  @include z-depth(1);
}

#room-content-container section:nth-child(1) input[type="text"]:focus {
  outline: 0;
}

#room-content-container section:nth-child(1) input::-webkit-input-placeholder {
  color:    $placeholder-white;
}

#room-content-container section article {
  width: 320px;

  overflow-y: visible;
  overflow-x: hidden;
}

#room-content-container section article::-webkit-scrollbar{
  width:5px;
}

#room-content-container section article::-webkit-scrollbar-thumb{
  background-color: $plain-white;

  @include z-depth(1);
}

#room-content-container section article::-webkit-scrollbar-thumb:hover{
  background-color: $second-pink;
}

#room-content-container section article::-webkit-scrollbar-thumb:active{
  background-color: $second-pink-accent;
}

#room-content-container section:nth-child(1) article {
  position: relative;
  height: 211px;
  top: 22px;
}

#room-content-container section:nth-child(2) article {
  float: right;
  position: relative;
  height: 267px;
  top: 13px;
}

#room-content-container section article p {
  width: 290px;
  min-height: 12px;
  margin: 0 0 13px 0;
  padding: 14px 10px;

  font-size: 13px;
  word-wrap: break-word;

  background-color: $plain-white;

  @include z-depth(1);
}

#room-content-container section article a {
  display: inline-block;
  width: 290px;
  min-height: 12px;
  margin: 0 0 13px 0;
  padding: 14px 10px;

  font-size: 13px;
  word-wrap: break-word;
  text-decoration: underline;
  color: $main-blue;

  background-color: $plain-white;

  @include z-depth(1);
}

#room-content-container section article a:focus {
  outline: none;
}

#room-link {
  position: absolute;
  top: -120px;
  left: 410px;
}

#room-link input {
  float: left;
  width: 175px;
  height: 20px;
  padding: 5px 0 5px 5px;
  font-size: 12px;
  overflow: hidden;
  border: none;

  @include z-depth(1);
}

#room-link div {
  position: relative;
  float: left;
  height: 30px;
  width: 30px;
  background-color: $second-pink;

  @include z-depth(1);
}

#room-link div:hover {
  background-color: $second-pink-accent;
  cursor: pointer;
}

#room-link div svg {
  margin: 5px 0 0 5px;
}

#fab-room-buzzer {
  display: none;
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background-color: $second-pink;

  top: 32px;
  left: 466px;

  z-index: 999;
  @include z-depth(1);
  @include z-depth-animation(2);
}

#fab-room-buzzer:hover {
  background-color: $second-pink-accent;
}

#fab-room-buzzer svg {
  margin: 6px 0 0 6px;
}


///// ANIMATIONS /////
.buzzer-animation {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: buzzer;
  -animation-name: buzzer;
}

@-webkit-keyframes buzzer {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}