extends ../layout.jade

block content
    div(class='image-background')
        div(id='form-container')
            form(action='/room', method='POST', id='form-home-login', name='form-home-login')
                section
                    h1 This is Hoot.
                div(id='fab-home-login')
                    |<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                    |    <path d="M20 12l-2.83 2.83 9.17 9.17-9.17 9.17 2.83 2.83 12-12z" fill="#ffffff"/>
                    |    <path d="M0 0h48v48h-48z" fill="none"/>
                    |</svg>

                section
                    label(for='home-login-roomname') Enter a roomname to start.
                    input(id='home-login-roomname', name='roomname' type='text', placeholder='Room', autocomplete='off', autofocus='autofocus', autocorrect="off", value='')

    script(src='/javascripts/index.js')