extends ../layout.jade
block content
    div(class='image-background')
        div(class='room-content-container')
            section
                h1 This is you
                video(id='local-video', autoplay='autoplay', muted='muted')

                input(id='room-chat-input', name='message' type='text', placeholder='Say something cool', autocomplete='off', value='', disabled)

                article(id='local-chat-container')
            section
                h1 Your friend
                video(id='remote-video', autoplay='autoplay', muted='muted')

                article(id='remote-chat-container')

    script(src='/javascripts/hoot.js')